* {
	font-family: sans-serif;
}

body {
	color: #000;
	background-color: #fff;
	font-size: 16px;
	max-width: 900px;
	margin: 0 auto;
	padding: 5px;
	margin-top: 100px;
}

a {
	color: #000;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #222;
		color: #fff;
	}

	a {
		color: #fff;
	}
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	padding: 20px;
	font-size: 24px;
	font-weight: 200;
}

form {
	display: grid;
	grid-template-columns: min-content auto;
	gap: 10px;
}

button {
	background: transparent;
	border: 1px solid silver;
	padding: 7px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

button:hover {
	background-color: black;
}

hr {
	margin: 50px;
}

main.podcasts {
	display: grid;
	grid-template-columns: min-content auto;
	gap: 20px;
}

main.podcasts img {
	max-width: 150px;
	max-height: 150px;
}

audio {
	width: 100%;
	margin-top: 10px;
}
