{% extends "layout.html" %}
{% block body %}

<h2>Accounts</h2>
<main class="grid grid-col-5">
	<div class=head>Date</div>
	<div class=head>ID</div>
	<div class=head>Org</div>
	<div class=head>Status</div>
	<div class=head>Action</div>

	{%- for user in users %}
	<div title="{{ user.modified.strftime(i18n.date_format.long) }}">{{ user.modified.strftime(i18n.date_format.short) }}</div>
	<div>{{ user.login }}</div>
	<div>{{ user.organizational_unit }}</div>
	<div>{{ user.status.name }}</div>
	<div>
		<a href="/info/{{ user.login }}" class="material-symbols-outlined">info</a>
		{% if user.status.name == 'invited' %}
		<a href="/invite_link/{{ user.login }}" class="material-symbols-outlined">share</a>
		{% endif %}
		{% if user.status.name == 'requested' %}
		<a href="/check/{{ user.login }}" class="material-symbols-outlined">assignment_turned_in</a>
		{% endif %}
		{% if user.status.name in ['invited', 'requested'] %}
		<a href="/cancel/{{ user.login }}" class="material-symbols-outlined">cancel</a>
		{% endif %}
	</div>
	{% else %}
	<div class=no-data>No account requests.</div>
	{% endfor %}
</main>

<h2>Action log</h2>
<main class="grid grid-col-4">
	<div class=head>Date</div>
	<div class=head>Login</div>
	<div class=head>User</div>
	<div class=head>Action</div>

	{%- for action in actions %}
	<div>{{ action.date.strftime(i18n.date_format.short) }}</div>
	<div>{{ action.login }}</div>
	<div>{{ action.user }}</div>
	<div>{{ action.action.name }}</div>
	{% endfor %}
</main>
{% endblock %}
